{
  "env": {
    "node": true,
    "webextensions": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["html", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["*.html"],
      "rules": {
        "vue/comment-directive": "off"
      }
    }
  ]
}